.pagination_btns {
  color: var(--primary-color) !important;
  font-family: var(--font-poppins) !important;
  font-weight: 600 !important;
  font-size: 11px !important;
}
.pagination_btns span,
.pagination_btns a {
  color: var(--primary-color) !important;
  font-size: 11px !important;
}
.active_item,
.active_item a {
  background-color: var(--primary-color) !important;
  color: #ffffff !important;
  font-family: var(--font-poppins) !important;
  font-weight: 600 !important;
  font-size: 11px !important;
}

.active_item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active_item a {
  border: none !important;
}
