:root {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --primary-color: #28335b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-poppins);
  width: 100%;
}

.tox-statusbar {
  display: none !important;
}
